<div class="footer">
  <div class="main-footer">
    <ul>
      <li>Sobre</li>
      <li>Ajuda</li>
      <li>Termos de uso</li>
    </ul>
    <ul>
      <li>Mais Personagens</li>
      <li>Series e +</li>
    </ul>
    <ul>
      <li class="social-follow">Siga-nos</li>
      <ul class="social-icon">
        <li><img src="/assets/images/instagram.svg" width="22px" height="22px"/></li>
        <li><img src="/assets/images/youtube.svg" width="22px" height="22px"/></li>
      </ul>
    </ul>
  </div>
</div>
