* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

.homeImg {
  display: flex;
  margin: auto;
  border: 1px solid rgba(black, 0.2);
  border-radius: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 2.5px 2px rgba(0,0,0,0.05);

  &:hover {
    box-shadow: 4px 4px 10px 8px rgba(0,0,0,0.10);
  }
}

.char {
  width: 300px;
  text-align: left;
  margin-bottom: 10px;

  text {
    font-size: 15px;
    margin-left: 3px;
  }
}
